<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <style>
        body {
            background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=50991"); /* Zastąp 00000 numerem albumu */
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
